# Airline Passenger Satisfaction – Data Preparation

This notebook prepares the airline passenger satisfaction dataset for analysis and modeling. It focuses on **reproducible data preparation**: loading the raw Kaggle CSV, fixing data types, handling missing values, standardising categorical values, renaming columns, and creating a cleaned, feature‑engineered dataset.

The output of this notebook is a single processed file:

`data/processed/airline_customer_satisfaction_cleaned.csv`

All downstream notebooks (`01_eda_kpis.ipynb` and `02_modeling_backlog.ipynb`) read from this processed dataset, so any change to the cleaning logic should be made here and the file regenerated.

## 1. Loading Data & Packages
In this section, we:
- Load the required packages and libraries for data preparation.
- Load the airline passenger satisfaction dataset from Kaggle.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_import = pd.read_csv("../data/raw/airline_customer_satisfaction.csv")
df = df_import.copy()

## 2. Data overview

In this section, we:
- Inspect the schema (columns, datatypes, missing values).
- Perform basic sanity checks on ranges and categories.

**Notes on the dataset:**
- Each row represents one passenger’s flight and survey response.
- Target variable: overall satisfaction (e.g. `satisfied` vs `dissatisfied`).
- Predictors include:
  - Demographics (e.g. Age, Gender).
  - Travel details (Customer Type, Type of Travel, Class, Flight Distance).
  - Service ratings (seat comfort, inflight wifi, online booking, on-board service, cleanliness, etc.).
  - Operational metrics (Departure Delay in Minutes, Arrival Delay in Minutes).

In [3]:
df.shape

(129880, 22)

In [4]:
df.columns.to_list()

['satisfaction',
 'Customer Type',
 'Age',
 'Type of Travel',
 'Class',
 'Flight Distance',
 'Seat comfort',
 'Departure/Arrival time convenient',
 'Food and drink',
 'Gate location',
 'Inflight wifi service',
 'Inflight entertainment',
 'Online support',
 'Ease of Online booking',
 'On-board service',
 'Leg room service',
 'Baggage handling',
 'Checkin service',
 'Cleanliness',
 'Online boarding',
 'Departure Delay in Minutes',
 'Arrival Delay in Minutes']

In [5]:
df.head()

,satisfaction,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,2,...,2,3,3,0,3,5,3,2,0,0.0
1,satisfied,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,3,...,2,3,4,4,4,2,3,2,310,305.0
2,satisfied,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,3,...,2,2,3,3,4,4,4,2,0,0.0
3,satisfied,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,3,...,3,1,1,0,1,4,1,3,0,0.0
4,satisfied,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,3,...,4,2,2,0,2,4,2,5,0,0.0

In [6]:
df.tail()

,satisfaction,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
129875,satisfied,disloyal Customer,29,Personal Travel,Eco,1731,5,5,5,3,...,2,2,3,3,4,4,4,2,0,0.0
129876,dissatisfied,disloyal Customer,63,Personal Travel,Business,2087,2,3,2,4,...,1,3,2,3,3,1,2,1,174,172.0
129877,dissatisfied,disloyal Customer,69,Personal Travel,Eco,2320,3,0,3,3,...,2,4,4,3,4,2,3,2,155,163.0
129878,dissatisfied,disloyal Customer,66,Personal Travel,Eco,2450,3,2,3,2,...,2,3,3,2,3,2,1,2,193,205.0
129879,dissatisfied,disloyal Customer,38,Personal Travel,Eco,4307,3,4,3,3,...,3,4,5,5,5,3,3,3,185,186.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 22 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   satisfaction                       129880 non-null  object
 1   Customer Type                      129880 non-null  object
 2   Age                                129880 non-null  int64
 3   Type of Travel                     129880 non-null  object
 4   Class                              129880 non-null  object
 5   Flight Distance                    129880 non-null  int64
 6   Seat comfort                       129880 non-null  int64
 7   Departure/Arrival time convenient  129880 non-null  int64
 8   Food and drink                     129880 non-null  int64
 9   Gate location                      129880 non-null  int64
 10  Inflight wifi service              129880 non-null  int64
 11  Inflight entertainment             129880 non-null  int64
 12  Online support                     129880 non-null  int64
 13  Ease of Online booking             129880 non-null  int64
 14  On-board service                   129880 non-null  int64
 15  Leg room service                   129880 non-null  int64
 16  Baggage handling                   129880 non-null  int64
 17  Checkin service                    129880 non-null  int64
 18  Cleanliness                        129880 non-null  int64
 19  Online boarding                    129880 non-null  int64
 20  Departure Delay in Minutes         129880 non-null  int64
 21  Arrival Delay in Minutes           129487 non-null  float64
dtypes: float64(1), int64(17), object(4)
memory usage: 21.8+ MB

In [8]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,129880.0,39.427957,15.119360,7.0,27.0,40.0,51.0,85.0
Flight Distance,129880.0,1981.409055,1027.115606,50.0,1359.0,1925.0,2544.0,6951.0
Seat comfort,129880.0,2.838597,1.392983,0.0,2.0,3.0,4.0,5.0
Departure/Arrival time convenient,129880.0,2.990645,1.527224,0.0,2.0,3.0,4.0,5.0
Food and drink,129880.0,2.851994,1.443729,0.0,2.0,3.0,4.0,5.0
Gate location,129880.0,2.990422,1.305970,0.0,2.0,3.0,4.0,5.0
Inflight wifi service,129880.0,3.249130,1.318818,0.0,2.0,3.0,4.0,5.0
Inflight entertainment,129880.0,3.383477,1.346059,0.0,2.0,4.0,4.0,5.0
Online support,129880.0,3.519703,1.306511,0.0,3.0,4.0,5.0,5.0
Ease of Online booking,129880.0,3.472105,1.305560,0.0,2.0,4.0,5.0,5.0
On-board service,129880.0,3.465075,1.270836,0.0,3.0,4.0,4.0,5.0
Leg room service,129880.0,3.485902,1.292226,0.0,2.0,4.0,5.0,5.0
Baggage handling,129880.0,3.695673,1.156483,1.0,3.0,4.0,5.0,5.0
Checkin service,129880.0,3.340807,1.260582,0.0,3.0,3.0,4.0,5.0
Cleanliness,129880.0,3.705759,1.151774,0.0,3.0,4.0,5.0,5.0
Online boarding,129880.0,3.352587,1.298715,0.0,2.0,4.0,4.0,5.0
Departure Delay in Minutes,129880.0,14.713713,38.071126,0.0,0.0,0.0,12.0,1592.0
Arrival Delay in Minutes,129487.0,15.091129,38.465650,0.0,0.0,0.0,13.0,1584.0

In [9]:
df.describe(include='object').T

                 count unique              top    freq
satisfaction    129880      2        satisfied   71087
Customer Type   129880      2   Loyal Customer  106100
Type of Travel  129880      2  Business travel   89693
Class           129880      3         Business   62160

In [10]:
df['satisfaction'].unique()

array(['satisfied', 'dissatisfied'], dtype=object)

In [11]:
df['Customer Type'].unique()

array(['Loyal Customer', 'disloyal Customer'], dtype=object)

In [12]:
df['Type of Travel'].unique()

array(['Personal Travel', 'Business travel'], dtype=object)

In [13]:
df['Class'].unique()

array(['Eco', 'Business', 'Eco Plus'], dtype=object)

In [14]:
print([f"{x:.2f}" for x in df['Arrival Delay in Minutes'].unique()])

['0.00', '305.00', '15.00', '26.00', '48.00', '23.00', '19.00', '2.00', '440.00', '5.00', '1.00', '7.00', '8.00', '45.00', '69.00', '13.00', '3.00', '12.00', '10.00', '6.00', '80.00', 'nan', '4.00', '86.00', '57.00', '14.00', '9.00', '96.00', '214.00', '50.00', '24.00', '137.00', '18.00', '27.00', '16.00', '121.00', '75.00', '17.00', '37.00', '53.00', '59.00', '76.00', '44.00', '131.00', '36.00', '33.00', '222.00', '32.00', '29.00', '28.00', '61.00', '35.00', '41.00', '63.00', '175.00', '38.00', '142.00', '90.00', '163.00', '84.00', '72.00', '74.00', '11.00', '118.00', '56.00', '119.00', '52.00', '25.00', '236.00', '112.00', '65.00', '93.00', '302.00', '34.00', '20.00', '124.00', '195.00', '136.00', '97.00', '179.00', '106.00', '78.00', '104.00', '21.00', '210.00', '22.00', '127.00', '87.00', '54.00', '245.00', '42.00', '49.00', '208.00', '60.00', '40.00', '66.00', '47.00', '297.00', '55.00', '102.00', '105.00', '250.00', '51.00', '166.00', '43.00', '46.00', '138.00', '160.00', '107.00', '31.00', '73.00', '77.00', '239.00', '174.00', '30.00', '133.00', '67.00', '70.00', '39.00', '168.00', '180.00', '122.00', '83.00', '265.00', '71.00', '99.00', '98.00', '64.00', '178.00', '146.00', '242.00', '58.00', '81.00', '91.00', '148.00', '156.00', '89.00', '62.00', '233.00', '152.00', '114.00', '88.00', '117.00', '165.00', '201.00', '177.00', '85.00', '162.00', '110.00', '155.00', '158.00', '108.00', '164.00', '68.00', '221.00', '100.00', '123.00', '79.00', '103.00', '299.00', '111.00', '150.00', '240.00', '126.00', '101.00', '161.00', '213.00', '82.00', '135.00', '286.00', '95.00', '224.00', '92.00', '143.00', '149.00', '185.00', '255.00', '241.00', '188.00', '795.00', '196.00', '120.00', '970.00', '256.00', '171.00', '141.00', '327.00', '368.00', '147.00', '94.00', '217.00', '109.00', '194.00', '604.00', '130.00', '172.00', '244.00', '113.00', '140.00', '230.00', '246.00', '125.00', '169.00', '342.00', '129.00', '705.00', '691.00', '128.00', '252.00', '258.00', '225.00', '293.00', '184.00', '153.00', '157.00', '192.00', '170.00', '205.00', '116.00', '290.00', '115.00', '227.00', '253.00', '198.00', '219.00', '144.00', '232.00', '313.00', '372.00', '193.00', '132.00', '516.00', '446.00', '134.00', '190.00', '454.00', '406.00', '183.00', '279.00', '182.00', '317.00', '288.00', '306.00', '354.00', '173.00', '191.00', '383.00', '352.00', '1584.00', '216.00', '276.00', '139.00', '333.00', '254.00', '151.00', '291.00', '355.00', '215.00', '186.00', '702.00', '260.00', '187.00', '181.00', '197.00', '243.00', '167.00', '412.00', '154.00', '209.00', '199.00', '203.00', '220.00', '404.00', '247.00', '270.00', '307.00', '189.00', '207.00', '145.00', '176.00', '277.00', '458.00', '228.00', '338.00', '223.00', '261.00', '344.00', '212.00', '159.00', '353.00', '403.00', '200.00', '378.00', '561.00', '226.00', '431.00', '470.00', '400.00', '281.00', '1115.00', '259.00', '304.00', '301.00', '273.00', '235.00', '358.00', '204.00', '567.00', '314.00', '262.00', '346.00', '325.00', '248.00', '356.00', '329.00', '231.00', '427.00', '229.00', '206.00', '382.00', '283.00', '234.00', '316.00', '455.00', '624.00', '264.00', '432.00', '369.00', '251.00', '237.00', '491.00', '429.00', '312.00', '445.00', '289.00', '218.00', '381.00', '608.00', '418.00', '337.00', '417.00', '357.00', '238.00', '211.00', '275.00', '443.00', '407.00', '350.00', '435.00', '401.00', '271.00', '330.00', '294.00', '267.00', '341.00', '311.00', '324.00', '402.00', '202.00', '336.00', '399.00', '284.00', '295.00', '389.00', '485.00', '274.00', '433.00', '425.00', '335.00', '460.00', '374.00', '484.00', '263.00', '543.00', '347.00', '303.00', '285.00', '422.00', '278.00', '391.00', '296.00', '292.00', '257.00', '326.00', '323.00', '424.00', '924.00', '600.00', '319.00', '638.00', '392.00', '473.00', '334.00', '349.00', '379.00', '300.00', '438.00', '322.00', '280.00', '409.00', '459.00', '320.00', '377.00', '486.00', '272.00', '444.00', '363.00', '287.00', '318.00', '269.00', '393.00', '940.00', '315.00', '457.00', '420.00', '586.00', '345.00', '362.00', '410.00', '386.00', '371.00', '823.00', '717.00', '748.00', '388.00', '720.00', '507.00', '822.00', '380.00', '348.00', '524.00', '952.00', '268.00', '310.00', '503.00', '308.00', '434.00', '471.00', '593.00', '282.00', '249.00', '416.00', '364.00', '518.00', '502.00', '298.00', '331.00', '339.00', '589.00', '359.00', '385.00', '436.00', '448.00', '351.00', '366.00', '920.00', '370.00', '413.00', '615.00', '1011.00', '395.00', '266.00', '860.00', '397.00', '555.00', '321.00', '580.00', '309.00', '493.00', '1280.00', '360.00', '729.00', '500.00']

In [15]:
df.isnull().sum()

satisfaction                           0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Seat comfort                           0
Departure/Arrival time convenient      0
Food and drink                         0
Gate location                          0
Inflight wifi service                  0
Inflight entertainment                 0
Online support                         0
Ease of Online booking                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Cleanliness                            0
Online boarding                        0
Departure Delay in Minutes             0
Arrival Delay in Minutes             393
dtype: int64

In [16]:
df.duplicated().sum()

np.int64(0)

## 3. Data cleaning & standardisation

Here we:
- Handle missing values (e.g., Arrival Delay in Minutes) by dropping those rows.
- Rename columns to snake_case for easier analysis and modeling.
- Clean and normalise categorical values (e.g., loyal vs disloyal, business vs personal travel, eco, business, eco-plus)
- Convert data type from float to int (e.g. 'Arrival Delay in Minutes').
- Normalise category values where needed.

In [17]:
df.dropna(subset=['Arrival Delay in Minutes'], inplace=True)
df['Arrival Delay in Minutes'].isna().sum()

np.int64(0)

In [18]:
df.columns.to_list()

['satisfaction',
 'Customer Type',
 'Age',
 'Type of Travel',
 'Class',
 'Flight Distance',
 'Seat comfort',
 'Departure/Arrival time convenient',
 'Food and drink',
 'Gate location',
 'Inflight wifi service',
 'Inflight entertainment',
 'Online support',
 'Ease of Online booking',
 'On-board service',
 'Leg room service',
 'Baggage handling',
 'Checkin service',
 'Cleanliness',
 'Online boarding',
 'Departure Delay in Minutes',
 'Arrival Delay in Minutes']

In [19]:
columns_mapping={
    "Customer Type": "customer_type", 
    "Age": "age", 
    "Type of Travel": "travel_type", 
    "Class": "travel_class",
    "Flight Distance": "flight_distance",
    "Seat comfort": "seat_comfort",
    "Departure/Arrival time convenient": "dep_arr_time_convenient",
    "Food and drink": "food_drink",
    "Gate location": "gate_location",
    "Inflight wifi service": "inflight_wifi_service",
    "Inflight entertainment": "inflight_entertainment",
    "Online support": "online_support",
    "Ease of Online booking": "ease_online_booking",
    "On-board service": "onboard_service",
    "Leg room service": "legroom_service",
    "Baggage handling": "baggage_handling",
    "Checkin service": "checkin_service",
    "Cleanliness": "cleanliness",
    "Online boarding": "online_boarding",
    "Departure Delay in Minutes": "dep_delay_min",
    "Arrival Delay in Minutes": "arr_delay_min"
}

df.rename(columns=columns_mapping, inplace=True)

In [20]:
df.head()

,satisfaction,customer_type,age,travel_type,travel_class,flight_distance,seat_comfort,dep_arr_time_convenient,food_drink,gate_location,...,online_support,ease_online_booking,onboard_service,legroom_service,baggage_handling,checkin_service,cleanliness,online_boarding,dep_delay_min,arr_delay_min
0,satisfied,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,2,...,2,3,3,0,3,5,3,2,0,0.0
1,satisfied,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,3,...,2,3,4,4,4,2,3,2,310,305.0
2,satisfied,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,3,...,2,2,3,3,4,4,4,2,0,0.0
3,satisfied,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,3,...,3,1,1,0,1,4,1,3,0,0.0
4,satisfied,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,3,...,4,2,2,0,2,4,2,5,0,0.0

In [21]:
df['customer_type'] = df['customer_type'].replace({
            'Loyal Customer':'loyal', 
            'disloyal Customer':'disloyal'
        })
        
df['travel_type'] = df['travel_type'].replace({
            'Personal Travel':'personal', 
            'Business travel':'business'
        })

df['travel_class'] = df['travel_class'].replace({
            'Eco':'eco', 
            'Business':'business',
            'Eco Plus':'eco-plus'
        })

In [22]:
df.head()

,satisfaction,customer_type,age,travel_type,travel_class,flight_distance,seat_comfort,dep_arr_time_convenient,food_drink,gate_location,...,online_support,ease_online_booking,onboard_service,legroom_service,baggage_handling,checkin_service,cleanliness,online_boarding,dep_delay_min,arr_delay_min
0,satisfied,loyal,65,personal,eco,265,0,0,0,2,...,2,3,3,0,3,5,3,2,0,0.0
1,satisfied,loyal,47,personal,business,2464,0,0,0,3,...,2,3,4,4,4,2,3,2,310,305.0
2,satisfied,loyal,15,personal,eco,2138,0,0,0,3,...,2,2,3,3,4,4,4,2,0,0.0
3,satisfied,loyal,60,personal,eco,623,0,0,0,3,...,3,1,1,0,1,4,1,3,0,0.0
4,satisfied,loyal,70,personal,eco,354,0,0,0,3,...,4,2,2,0,2,4,2,5,0,0.0

In [23]:
df['arr_delay_min'] = df['arr_delay_min'].astype(int)

In [24]:
df.head()

,satisfaction,customer_type,age,travel_type,travel_class,flight_distance,seat_comfort,dep_arr_time_convenient,food_drink,gate_location,...,online_support,ease_online_booking,onboard_service,legroom_service,baggage_handling,checkin_service,cleanliness,online_boarding,dep_delay_min,arr_delay_min
0,satisfied,loyal,65,personal,eco,265,0,0,0,2,...,2,3,3,0,3,5,3,2,0,0
1,satisfied,loyal,47,personal,business,2464,0,0,0,3,...,2,3,4,4,4,2,3,2,310,305
2,satisfied,loyal,15,personal,eco,2138,0,0,0,3,...,2,2,3,3,4,4,4,2,0,0
3,satisfied,loyal,60,personal,eco,623,0,0,0,3,...,3,1,1,0,1,4,1,3,0,0
4,satisfied,loyal,70,personal,eco,354,0,0,0,3,...,4,2,2,0,2,4,2,5,0,0

## 4. Feature engineering

Here we:
- Create a few helper features for analysis, such as:
  - Age groups buckets(e.g. `<25`, `25–40`, `40–60`, `60+`).
  - Delay buckets (e.g. `0`, `1–15`, `16–60`, `>60` minutes).
  - Create derived fields such as delay flags (e.g. `is_dep_delayed`, `is_arr_delayed`).
  - Flight distance buckets (e.g. `0-500`, `500-1000`, `1000-2000`, `2000-5000`).

The aim is not heavy feature engineering but ensuring the data is clean and interpretable for KPI design.

In [25]:
age_bins = [0,25,40,60,90]
age_labels = ['0-25','26-40','41-60','61-90']

df['age_bins'] = pd.cut(
    df['age'],
    bins=age_bins,
    labels=age_labels,
    include_lowest=True
)

In [26]:
col_age = df.pop('age_bins')

df.insert(3, 'age_bins', col_age)

In [27]:
df.head()

,satisfaction,customer_type,age,age_bins,travel_type,travel_class,flight_distance,seat_comfort,dep_arr_time_convenient,food_drink,...,online_support,ease_online_booking,onboard_service,legroom_service,baggage_handling,checkin_service,cleanliness,online_boarding,dep_delay_min,arr_delay_min
0,satisfied,loyal,65,61-90,personal,eco,265,0,0,0,...,2,3,3,0,3,5,3,2,0,0
1,satisfied,loyal,47,41-60,personal,business,2464,0,0,0,...,2,3,4,4,4,2,3,2,310,305
2,satisfied,loyal,15,0-25,personal,eco,2138,0,0,0,...,2,2,3,3,4,4,4,2,0,0
3,satisfied,loyal,60,41-60,personal,eco,623,0,0,0,...,3,1,1,0,1,4,1,3,0,0
4,satisfied,loyal,70,61-90,personal,eco,354,0,0,0,...,4,2,2,0,2,4,2,5,0,0

In [28]:
delay_bins = [-1, 0, 15, 60, 1600]

delay_labels = ['on_time', 'minor', 'moderate', 'severe']

df['dep_delay_bins'] = pd.cut(
    df['dep_delay_min'],
    bins=delay_bins,
    labels=delay_labels,
    include_lowest=True
)

df['arr_delay_bins'] = pd.cut(
    df['arr_delay_min'],
    bins=delay_bins,
    labels=delay_labels,
    include_lowest=True
)

In [29]:
df.head()

,satisfaction,customer_type,age,age_bins,travel_type,travel_class,flight_distance,seat_comfort,dep_arr_time_convenient,food_drink,...,onboard_service,legroom_service,baggage_handling,checkin_service,cleanliness,online_boarding,dep_delay_min,arr_delay_min,dep_delay_bins,arr_delay_bins
0,satisfied,loyal,65,61-90,personal,eco,265,0,0,0,...,3,0,3,5,3,2,0,0,on_time,on_time
1,satisfied,loyal,47,41-60,personal,business,2464,0,0,0,...,4,4,4,2,3,2,310,305,severe,severe
2,satisfied,loyal,15,0-25,personal,eco,2138,0,0,0,...,3,3,4,4,4,2,0,0,on_time,on_time
3,satisfied,loyal,60,41-60,personal,eco,623,0,0,0,...,1,0,1,4,1,3,0,0,on_time,on_time
4,satisfied,loyal,70,61-90,personal,eco,354,0,0,0,...,2,0,2,4,2,5,0,0,on_time,on_time

In [30]:
dep_threshold = 15
arr_threshold = 15

df['is_dep_significantly_delayed'] = (
    df['dep_delay_min'] >= dep_threshold
)

df['is_arr_significantly_delayed'] = (
    df['arr_delay_min'] >= arr_threshold
)

In [31]:
df.head()

,satisfaction,customer_type,age,age_bins,travel_type,travel_class,flight_distance,seat_comfort,dep_arr_time_convenient,food_drink,...,baggage_handling,checkin_service,cleanliness,online_boarding,dep_delay_min,arr_delay_min,dep_delay_bins,arr_delay_bins,is_dep_significantly_delayed,is_arr_significantly_delayed
0,satisfied,loyal,65,61-90,personal,eco,265,0,0,0,...,3,5,3,2,0,0,on_time,on_time,False,False
1,satisfied,loyal,47,41-60,personal,business,2464,0,0,0,...,4,2,3,2,310,305,severe,severe,True,True
2,satisfied,loyal,15,0-25,personal,eco,2138,0,0,0,...,4,4,4,2,0,0,on_time,on_time,False,False
3,satisfied,loyal,60,41-60,personal,eco,623,0,0,0,...,1,4,1,3,0,0,on_time,on_time,False,False
4,satisfied,loyal,70,61-90,personal,eco,354,0,0,0,...,2,4,2,5,0,0,on_time,on_time,False,False

In [32]:
df.flight_distance.max()

6951

Flight distance buckets (e.g. 0-500, 500-1000, 1000-2000, 2000-5000).

In [33]:
distance_bins = [0,500,1000,2000,5000,10000]
distance_labels = ['0-500','501-1000','1001-2000','2001-5000','5000+']

df['flight_distance_bins'] = pd.cut(
    df['flight_distance'],
    bins=distance_bins,
    labels=distance_labels,
    include_lowest=True
)

In [34]:
col_distance = df.pop('flight_distance_bins')

df.insert(7, 'flight_distance_bins', col_distance)

In [35]:
df.head()

,satisfaction,customer_type,age,age_bins,travel_type,travel_class,flight_distance,flight_distance_bins,seat_comfort,dep_arr_time_convenient,...,baggage_handling,checkin_service,cleanliness,online_boarding,dep_delay_min,arr_delay_min,dep_delay_bins,arr_delay_bins,is_dep_significantly_delayed,is_arr_significantly_delayed
0,satisfied,loyal,65,61-90,personal,eco,265,0-500,0,0,...,3,5,3,2,0,0,on_time,on_time,False,False
1,satisfied,loyal,47,41-60,personal,business,2464,2001-5000,0,0,...,4,2,3,2,310,305,severe,severe,True,True
2,satisfied,loyal,15,0-25,personal,eco,2138,2001-5000,0,0,...,4,4,4,2,0,0,on_time,on_time,False,False
3,satisfied,loyal,60,41-60,personal,eco,623,501-1000,0,0,...,1,4,1,3,0,0,on_time,on_time,False,False
4,satisfied,loyal,70,61-90,personal,eco,354,0-500,0,0,...,2,4,2,5,0,0,on_time,on_time,False,False

## 4. Save processed dataset

Here we save the processed dataset to file `airline_customer_satisfaction_cleaned.csv` in directory `/data/processed/airline_customer_satisfaction_cleaned.csv`

In [36]:
#Saving cleaned data as CSV which can be consumed for EDA
df.to_csv("../data/processed/airline_customer_satisfaction_cleaned.csv", index=False)